### The purpose of this notebook is to load the data via POST requests

#### Import depedencies

In [64]:
import requests
import pandas as pd
import numpy as np
import datetime
import json

### Get setup variables

In [68]:
with open('config.json') as json_file:
    data = json.load(json_file)
    BASE_URL  = data['EC2_API_ENDPOINT']

#### Load cleaned product data

In [2]:
dataFile = '../data/product_data.xlsx'

In [6]:
data = pd.read_excel(dataFile, sheet_name = 'all_prods', parse_dates=True)

#### View data

In [7]:
data.head()

,raw_product,brand,category,name,slug,description,color,is available,qty,retail price,sale price,release date
0,Adidas-Yeezy-Boost-350-Low-V2-Beluga,adidas,footwear,adidas yeezy boost 350,adidas-yeezy-boost-350-low-v2-beluga,"low, v2, beluga",NaN,1,498,220,1097,2016-09-24
1,Adidas-Yeezy-Boost-350-V2-Core-Black-Copper,adidas,footwear,adidas yeezy boost 350,adidas-yeezy-boost-350-v2-core-black-copper,"v2, core","black,copper",1,225,220,685,2016-11-23
2,Adidas-Yeezy-Boost-350-V2-Core-Black-Green,adidas,footwear,adidas yeezy boost 350,adidas-yeezy-boost-350-v2-core-black-green,"v2, core","black, green",1,196,220,690,2016-11-23
3,Adidas-Yeezy-Boost-350-V2-Core-Black-Red,adidas,footwear,adidas yeezy boost 350,adidas-yeezy-boost-350-v2-core-black-red,"v2, core","black, red",1,302,220,1075,2016-11-23
4,Adidas-Yeezy-Boost-350-V2-Core-Black-Red-2017,adidas,footwear,adidas yeezy boost 350,adidas-yeezy-boost-350-v2-core-black-red-2017,"core, 2017","black,red",1,969,220,828,2017-02-11

### Create URL and credentials for REST API

In [69]:
base_url = BASE_URL

### Step 1: Create new user

#### Create Guest user and return the token needed for authentifcation

In [18]:
EMAIL = "guest@awit.com"
NAME = "Guest user"
PASSWORD = "bemyguest123"

In [13]:
DATA = {
    "email": "guest@awit.com",
    "name": "Guest user",
    "password": "bemyguest123"
}

In [71]:
query_url = f"{base_url}profile/"
#print(query_url)

In [15]:
response = requests.post(url=query_url, data=DATA).json()

In [16]:
print(response)

{'id': 2, 'email': 'guest@awit.com', 'name': 'Guest user'}

### Step 2: Login with new user

In [72]:
query_url = f"{base_url}login/"
#print(query_url)

In [19]:
DATA = {
    'username': EMAIL, 
    'password': PASSWORD
}

In [20]:
response = requests.post(url=query_url, data=DATA).json()

In [ ]:
MY_TOKEN = response['token']

### Step 3: Set header dict for posting data

In [22]:
HEADER = {'Authorization':f'Token {MY_TOKEN}'}

## Section to Load Data

### Step 1: Load brands

In [24]:
ALL_BRANDS = data['brand'].unique()
ALL_BRANDS

array(['adidas', 'nike', 'jordan'], dtype=object)

In [74]:
query_url = f"{base_url}brand/"
#print(query_url)

In [29]:
for brand in ALL_BRANDS:
    load_data = {'name': brand, 'is_active': True}
    response = requests.post(url=query_url, headers=HEADER, data=load_data).json()
    print(response)

{'id': 1, 'name': 'adidas', 'is_active': True}
{'id': 2, 'name': 'nike', 'is_active': True}
{'id': 3, 'name': 'jordan', 'is_active': True}

## View all loaded brands

In [31]:
db_brands = requests.get(url=query_url, headers=HEADER).json()
print(db_brands)

[{'id': 1, 'name': 'adidas', 'is_active': True}, {'id': 2, 'name': 'nike', 'is_active': True}, {'id': 3, 'name': 'jordan', 'is_active': True}]

### Step 2: Load Category

In [32]:
ALL_CATS = data['category'].unique()
ALL_CATS

array(['footwear'], dtype=object)

In [75]:
query_url = f"{base_url}category/"
#print(query_url)

In [34]:
for cat in ALL_CATS:
    load_data = {'name': cat, 'is_active': True}
    response = requests.post(url=query_url, headers=HEADER, data=load_data).json()
    print(response)

{'id': 1, 'name': 'footwear', 'is_active': True}

## View all loaded categories

In [35]:
db_cats = requests.get(url=query_url, headers=HEADER).json()
print(db_cats)

[{'id': 1, 'name': 'footwear', 'is_active': True}]

### Step 3: Load Product

In [76]:
query_url = f"{base_url}product/"
#print(query_url)

In [39]:
cols_imp = ['brand','category','slug',
            'raw_product','retail price','sale price',
            'release date','qty','is available',
                    ]
cols_imp

['brand',
 'category',
 'slug',
 'raw_product',
 'retail price',
 'sale price',
 'release date',
 'qty',
 'is available']

In [40]:
db_load_data = data[cols_imp]
db_load_data.head(3)

,brand,category,slug,raw_product,retail price,sale price,release date,qty,is available
0,adidas,footwear,adidas-yeezy-boost-350-low-v2-beluga,Adidas-Yeezy-Boost-350-Low-V2-Beluga,220,1097,2016-09-24,498,1
1,adidas,footwear,adidas-yeezy-boost-350-v2-core-black-copper,Adidas-Yeezy-Boost-350-V2-Core-Black-Copper,220,685,2016-11-23,225,1
2,adidas,footwear,adidas-yeezy-boost-350-v2-core-black-green,Adidas-Yeezy-Boost-350-V2-Core-Black-Green,220,690,2016-11-23,196,1

In [51]:
db_load_data.dtypes

brand                   object
category                object
slug                    object
raw_product             object
retail price             int64
sale price               int64
release date    datetime64[ns]
qty                      int64
is available             int64
dtype: object

In [58]:
db_load_data['updated_release_date_format'] = db_load_data['release date'].dt.strftime('%Y-%m-%d')
db_load_data.head(3)

<ipython-input-58-b70b1927ad8a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  db_load_data['updated_release_date_format'] = db_load_data['release date'].dt.strftime('%Y-%m-%d')

,brand,category,slug,raw_product,retail price,sale price,release date,qty,is available,updated_release_date_format
0,adidas,footwear,adidas-yeezy-boost-350-low-v2-beluga,Adidas-Yeezy-Boost-350-Low-V2-Beluga,220,1097,2016-09-24,498,1,2016-09-24
1,adidas,footwear,adidas-yeezy-boost-350-v2-core-black-copper,Adidas-Yeezy-Boost-350-V2-Core-Black-Copper,220,685,2016-11-23,225,1,2016-11-23
2,adidas,footwear,adidas-yeezy-boost-350-v2-core-black-green,Adidas-Yeezy-Boost-350-V2-Core-Black-Green,220,690,2016-11-23,196,1,2016-11-23

In [59]:
db_load_data.dtypes

brand                                  object
category                               object
slug                                   object
raw_product                            object
retail price                            int64
sale price                              int64
release date                   datetime64[ns]
qty                                     int64
is available                            int64
updated_release_date_format            object
dtype: object

In [62]:
for index,row in db_load_data.iterrows():
    name = row['raw_product'].replace("-"," ").lower().strip()
    brand_raw = row['brand']
    category = 1
    slug = row['slug']
    retail_price = row['retail price']
    sale_price = row['sale price']
    qty = row['qty']
    release_date = row['updated_release_date_format']
    
    
    if brand_raw == 'adidas':
        brand_id = 1
    elif brand_raw == 'nike':
        brand_id = 2
    elif brand_raw == 'jordan':
        brand_id = 3
        
    load_input = {
        "name": name,
        "slug": slug,
        "category":category,
        "brand":brand_id ,
        "retail_price": retail_price,
        "sale_price": sale_price,
        "qty": qty,
        "release_date": release_date,
        "is_available": True
    }
    #print(load_input)
    response = requests.post(url=query_url, headers=HEADER, data=load_input).json()
    print(response)

## View all loaded products

In [63]:
db_prods = requests.get(url=query_url, headers=HEADER).json()
print(db_prods)

[{'id': 1, 'name': 'adidas yeezy boost 350 low v2 beluga', 'slug': 'adidas-yeezy-boost-350-low-v2-beluga', 'category': 1, 'brand': 1, 'retail_price': '220.00', 'sale_price': '1097.00', 'qty': 498, 'release_date': '2016-09-24', 'is_available': True}, {'id': 2, 'name': 'adidas yeezy boost 350 v2 core black copper', 'slug': 'adidas-yeezy-boost-350-v2-core-black-copper', 'category': 1, 'brand': 1, 'retail_price': '220.00', 'sale_price': '685.00', 'qty': 225, 'release_date': '2016-11-23', 'is_available': True}, {'id': 3, 'name': 'adidas yeezy boost 350 v2 core black green', 'slug': 'adidas-yeezy-boost-350-v2-core-black-green', 'category': 1, 'brand': 1, 'retail_price': '220.00', 'sale_price': '690.00', 'qty': 196, 'release_date': '2016-11-23', 'is_available': True}, {'id': 4, 'name': 'adidas yeezy boost 350 v2 core black red', 'slug': 'adidas-yeezy-boost-350-v2-core-black-red', 'category': 1, 'brand': 1, 'retail_price': '220.00', 'sale_price': '1075.00', 'qty': 302, 'release_date': '2016-11-23', 'is_available': True}, {'id': 5, 'name': 'adidas yeezy boost 350 v2 core black red 2017', 'slug': 'adidas-yeezy-boost-350-v2-core-black-red-2017', 'category': 1, 'brand': 1, 'retail_price': '220.00', 'sale_price': '828.00', 'qty': 969, 'release_date': '2017-02-11', 'is_available': True}, {'id': 6, 'name': 'adidas yeezy boost 350 v2 core black white', 'slug': 'adidas-yeezy-boost-350-v2-core-black-white', 'category': 1, 'brand': 1, 'retail_price': '220.00', 'sale_price': '784.00', 'qty': 621, 'release_date': '2016-12-17', 'is_available': True}, {'id': 7, 'name': 'adidas yeezy boost 350 v2 cream white', 'slug': 'adidas-yeezy-boost-350-v2-cream-white', 'category': 1, 'brand': 1, 'retail_price': '220.00', 'sale_price': '460.00', 'qty': 9097, 'release_date': '2017-04-29', 'is_available': True}, {'id': 8, 'name': 'adidas yeezy boost 350 v2 zebra', 'slug': 'adidas-yeezy-boost-350-v2-zebra', 'category': 1, 'brand': 1, 'retail_price': '220.00', 'sale_price': '570.00', 'qty': 10110, 'release_date': '2017-02-25', 'is_available': True}, {'id': 9, 'name': 'adidas yeezy boost 350 low moonrock', 'slug': 'adidas-yeezy-boost-350-low-moonrock', 'category': 1, 'brand': 1, 'retail_price': '200.00', 'sale_price': '1230.00', 'qty': 100, 'release_date': '2015-11-14', 'is_available': True}, {'id': 10, 'name': 'adidas yeezy boost 350 low pirate black 2016', 'slug': 'adidas-yeezy-boost-350-low-pirate-black-2016', 'category': 1, 'brand': 1, 'retail_price': '200.00', 'sale_price': '1100.00', 'qty': 122, 'release_date': '2016-02-19', 'is_available': True}, {'id': 11, 'name': 'adidas yeezy boost 350 low oxford tan', 'slug': 'adidas-yeezy-boost-350-low-oxford-tan', 'category': 1, 'brand': 1, 'retail_price': '200.00', 'sale_price': '1101.00', 'qty': 70, 'release_date': '2015-12-29', 'is_available': True}, {'id': 12, 'name': 'adidas yeezy boost 350 low turtledove', 'slug': 'adidas-yeezy-boost-350-low-turtledove', 'category': 1, 'brand': 1, 'retail_price': '200.00', 'sale_price': '2300.00', 'qty': 68, 'release_date': '2015-06-27', 'is_available': True}, {'id': 13, 'name': 'adidas yeezy boost 350 low pirate black 2015', 'slug': 'adidas-yeezy-boost-350-low-pirate-black-2015', 'category': 1, 'brand': 1, 'retail_price': '200.00', 'sale_price': '1150.00', 'qty': 95, 'release_date': '2015-08-22', 'is_available': True}, {'id': 14, 'name': 'adidas yeezy boost 350 v2 semi frozen yellow', 'slug': 'adidas-yeezy-boost-350-v2-semi-frozen-yellow', 'category': 1, 'brand': 1, 'retail_price': '220.00', 'sale_price': '1825.00', 'qty': 4854, 'release_date': '2017-11-18', 'is_available': True}, {'id': 15, 'name': 'adidas yeezy boost 350 v2 beluga 2pt0', 'slug': 'adidas-yeezy-boost-350-v2-beluga-2pt0', 'category': 1, 'brand': 1, 'retail_price': '220.00', 'sale_price': '600.00', 'qty': 10395, 'release_date': '2017-11-25', 'is_available': True}, {'id': 16, 'name': 'adidas yeezy boost 350 v2 blue tint', 'slug': 'adidas-yeezy-boost-350-v2-blue-tint', 'category': 1, 'brand': 1, 'retail_price': '220.00', 'sale_price': '800.00', 'qty': 9297, 'release_date': '2017-12-16', 'is_available': True}, {'id': 17, 'name': 'adidas yeezy boost 350 v2 butter', 'slug': 'adidas-yeezy-boost-350-v2-butter', 'category': 1, 'brand': 1, 'retail_price': '220.00', 'sale_price': '600.00', 'qty': 11423, 'release_date': '2018-06-30', 'is_available': True}, {'id': 18, 'name': 'adidas yeezy boost 350 v2 sesame', 'slug': 'adidas-yeezy-boost-350-v2-sesame', 'category': 1, 'brand': 1, 'retail_price': '220.00', 'sale_price': '380.00', 'qty': 5553, 'release_date': '2018-11-23', 'is_available': True}, {'id': 19, 'name': 'adidas yeezy boost 350 v2 static', 'slug': 'adidas-yeezy-boost-350-v2-static', 'category': 1, 'brand': 1, 'retail_price': '220.00', 'sale_price': '775.00', 'qty': 4983, 'release_date': '2018-12-27', 'is_available': True}, {'id': 20, 'name': 'adidas yeezy boost 350 v2 static reflective', 'slug': 'adidas-yeezy-boost-350-v2-static-reflective', 'category': 1, 'brand': 1, 'retail_price': '220.00', 'sale_price': '2000.00', 'qty': 3184, 'release_date': '2018-12-26', 'is_available': True}, {'id': 21, 'name': 'nike air max 90 off white', 'slug': 'nike-air-max-90-off-white', 'category': 1, 'brand': 2, 'retail_price': '160.00', 'sale_price': '1600.00', 'qty': 627, 'release_date': '2017-09-09', 'is_available': True}, {'id': 22, 'name': 'nike air presto off white', 'slug': 'nike-air-presto-off-white', 'category': 1, 'brand': 2, 'retail_price': '160.00', 'sale_price': '1344.00', 'qty': 596, 'release_date': '2017-09-09', 'is_available': True}, {'id': 23, 'name': 'nike air vapormax off white', 'slug': 'nike-air-vapormax-off-white', 'category': 1, 'brand': 2, 'retail_price': '250.00', 'sale_price': '1800.00', 'qty': 525, 'release_date': '2017-09-09', 'is_available': True}, {'id': 24, 'name': 'nike blazer mid off white', 'slug': 'nike-blazer-mid-off-white', 'category': 1, 'brand': 2, 'retail_price': '130.00', 'sale_price': '720.00', 'qty': 501, 'release_date': '2017-09-09', 'is_available': True}, {'id': 25, 'name': 'nike air force 1 low off white', 'slug': 'nike-air-force-1-low-off-white', 'category': 1, 'brand': 2, 'retail_price': '170.00', 'sale_price': '1000.00', 'qty': 476, 'release_date': '2017-11-01', 'is_available': True}, {'id': 26, 'name': 'nike air max 97 off white', 'slug': 'nike-air-max-97-off-white', 'category': 1, 'brand': 2, 'retail_price': '190.00', 'sale_price': '700.00', 'qty': 544, 'release_date': '2017-11-01', 'is_available': True}, {'id': 27, 'name': 'nike air force 1 low virgil abloh off white af100', 'slug': 'nike-air-force-1-low-virgil-abloh-off-white-af100', 'category': 1, 'brand': 2, 'retail_price': '150.00', 'sale_price': '850.00', 'qty': 31, 'release_date': '2017-11-04', 'is_available': True}, {'id': 28, 'name': 'nike react hyperdunk 2017 flyknit off white', 'slug': 'nike-react-hyperdunk-2017-flyknit-off-white', 'category': 1, 'brand': 2, 'retail_price': '200.00', 'sale_price': '900.00', 'qty': 484, 'release_date': '2017-11-01', 'is_available': True}, {'id': 29, 'name': 'nike zoom fly off white', 'slug': 'nike-zoom-fly-off-white', 'category': 1, 'brand': 2, 'retail_price': '170.00', 'sale_price': '1700.00', 'qty': 435, 'release_date': '2017-11-01', 'is_available': True}, {'id': 30, 'name': 'nike air vapormax off white 2018', 'slug': 'nike-air-vapormax-off-white-2018', 'category': 1, 'brand': 2, 'retail_price': '250.00', 'sale_price': '825.00', 'qty': 1591, 'release_date': '2018-04-14', 'is_available': True}, {'id': 31, 'name': 'nike air vapormax off white black', 'slug': 'nike-air-vapormax-off-white-black', 'category': 1, 'brand': 2, 'retail_price': '250.00', 'sale_price': '800.00', 'qty': 1313, 'release_date': '2018-03-30', 'is_available': True}, {'id': 32, 'name': 'nike air presto off white black 2018', 'slug': 'nike-air-presto-off-white-black-2018', 'category': 1, 'brand': 2, 'retail_price': '160.00', 'sale_price': '1500.00', 'qty': 1884, 'release_date': '2018-07-27', 'is_available': True}, {'id': 33, 'name': 'nike air presto off white white 2018', 'slug': 'nike-air-presto-off-white-white-2018', 'category': 1, 'brand': 2, 'retail_price': '160.00', 'sale_price': '1500.00', 'qty': 1883, 'release_date': '2018-08-03', 'is_available': True}, {'id': 34, 'name': 'nike zoom fly mercurial off white black', 'slug': 'nike-zoom-fly-mercurial-off-white-black', 'category': 1, 'brand': 2, 'retail_price': '200.00', 'sale_price': '600.00', 'qty': 645, 'release_date': '2018-06-14', 'is_available': True}, {'id': 35, 'name': 'nike zoom fly mercurial off white total orange', 'slug': 'nike-zoom-fly-mercurial-off-white-total-orange', 'category': 1, 'brand': 2, 'retail_price': '200.00', 'sale_price': '500.00', 'qty': 656, 'release_date': '2018-06-14', 'is_available': True}, {'id': 36, 'name': 'nike air max 97 off white elemental rose queen', 'slug': 'nike-air-max-97-off-white-elemental-rose-queen', 'category': 1, 'brand': 2, 'retail_price': '190.00', 'sale_price': '750.00', 'qty': 216, 'release_date': '2018-08-25', 'is_available': True}, {'id': 37, 'name': 'nike blazer mid off white all hallows eve', 'slug': 'nike-blazer-mid-off-white-all-hallows-eve', 'category': 1, 'brand': 2, 'retail_price': '130.00', 'sale_price': '925.00', 'qty': 1435, 'release_date': '2018-10-03', 'is_available': True}, {'id': 38, 'name': 'nike blazer mid off white grim reaper', 'slug': 'nike-blazer-mid-off-white-grim-reaper', 'category': 1, 'brand': 2, 'retail_price': '130.00', 'sale_price': '908.00', 'qty': 1398, 'release_date': '2018-10-03', 'is_available': True}, {'id': 39, 'name': 'nike blazer mid off white wolf grey', 'slug': 'nike-blazer-mid-off-white-wolf-grey', 'category': 1, 'brand': 2, 'retail_price': '130.00', 'sale_price': '1150.00', 'qty': 288, 'release_date': '2018-08-25', 'is_available': True}, {'id': 40, 'name': 'nike air max 97 off white menta', 'slug': 'nike-air-max-97-off-white-menta', 'category': 1, 'brand': 2, 'retail_price': '190.00', 'sale_price': '925.00', 'qty': 343, 'release_date': '2018-10-18', 'is_available': True}, {'id': 41, 'name': 'nike air max 97 off white black', 'slug': 'nike-air-max-97-off-white-black', 'category': 1, 'brand': 2, 'retail_price': '190.00', 'sale_price': '1230.00', 'qty': 289, 'release_date': '2018-10-18', 'is_available': True}, {'id': 42, 'name': 'nike zoom fly off white black silver', 'slug': 'nike-zoom-fly-off-white-black-silver', 'category': 1, 'brand': 2, 'retail_price': '170.00', 'sale_price': '490.00', 'qty': 1222, 'release_date': '2018-10-13', 'is_available': True}, {'id': 43, 'name': 'nike zoom fly off white pink', 'slug': 'nike-zoom-fly-off-white-pink', 'category': 1, 'brand': 2, 'retail_price': '170.00', 'sale_price': '480.00', 'qty': 1359, 'release_date': '2018-11-28', 'is_available': True}, {'id': 44, 'name': 'nike air force 1 low off white volt', 'slug': 'nike-air-force-1-low-off-white-volt', 'category': 1, 'brand': 2, 'retail_price': '170.00', 'sale_price': '950.00', 'qty': 1019, 'release_date': '2018-12-19', 'is_available': True}, {'id': 45, 'name': 'nike air force 1 low off white black white', 'slug': 'nike-air-force-1-low-off-white-black-white', 'category': 1, 'brand': 2, 'retail_price': '170.00', 'sale_price': '550.00', 'qty': 960, 'release_date': '2018-12-19', 'is_available': True}, {'id': 46, 'name': 'nike air max 90 off white black', 'slug': 'nike-air-max-90-off-white-black', 'category': 1, 'brand': 2, 'retail_price': '160.00', 'sale_price': '751.00', 'qty': 722, 'release_date': '2019-02-07', 'is_available': True}, {'id': 47, 'name': 'nike air max 90 off white desert ore', 'slug': 'nike-air-max-90-off-white-desert-ore', 'category': 1, 'brand': 2, 'retail_price': '160.00', 'sale_price': '550.00', 'qty': 649, 'release_date': '2019-02-07', 'is_available': True}, {'id': 48, 'name': 'air jordan 1 retro high off white chicago', 'slug': 'air-jordan-1-retro-high-off-white-chicago', 'category': 1, 'brand': 3, 'retail_price': '190.00', 'sale_price': '2450.00', 'qty': 755, 'release_date': '2017-09-09', 'is_available': True}, {'id': 49, 'name': 'air jordan 1 retro high off white white', 'slug': 'air-jordan-1-retro-high-off-white-white', 'category': 1, 'brand': 3, 'retail_price': '190.00', 'sale_price': '2180.00', 'qty': 313, 'release_date': '2018-03-03', 'is_available': True}, {'id': 50, 'name': 'air jordan 1 retro high off white university blue', 'slug': 'air-jordan-1-retro-high-off-white-university-blue', 'category': 1, 'brand': 3, 'retail_price': '190.00', 'sale_price': '3680.00', 'qty': 4635, 'release_date': '2018-06-23', 'is_available': True}]